* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.line {
  width: 60%;
  margin-left: 20%;
  height: 2px;
  background-color: black;
}

// home SASS
.home {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      display: flex;
      align-items: center;
      float: right;
      a {
        padding: 20px 15px 15px 5px;
        display: block;
        color: black;
        text-decoration: none;
      }
    }
  }
  .container {
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 130px;
      display: flex;
      justify-content: center;
    }
    h3 {
      font-size: 25px;
      display: flex;
      justify-content: center;
    }
    .title {
      width: 80%;
      flex-direction: column;
      .skills {
        padding-bottom: 180px;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        .skills-inner {
          width: 80%;
          max-width: 500px;
          height: 100px;
          overflow: hidden;
          display: flex;
          align-items: center;

          .skills-slide {
            display: flex;
            align-items: center;
            animation: 30s slide infinite linear;
            img {
              max-height: 80px;
              width: 80px;
              animation: bounce infinite;
            }
          }
        }
      }
      .button-container {
        width: 100%;
        padding-top: 25px;
        display: flex;
        justify-content: center;
        button {
          font-weight: bold;
          padding: 5px;
          background-color: white;
          border: 3px solid black;
          border-radius: 20px;
          width: 260px;
          transition: 0.2s;
          font-size: 15px;
          &:hover {
            background-color: black;
            color: white;
            transition: 0.2s;
          }
        }
      }
      .project-button {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: end;
        .project-container {
          border: none;
          background: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          transition: 0.2s;
          font-size: 20px;
          &:hover {
            font-size: 25px;
            transition: 0.2s;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      h1 {
        font-size: 90px;
      }
      h3 {
        font-size: 20px;
      }
      .title {
        .button-container {
          button {
            width: 190px;
          }
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(0) skew(-2deg);
  }
  50% {
    transform: translateY(-5px) skew(2deg);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

// portfolio SASS
.portfolio {
  .container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// about SASS
.about {
  .container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// contact SAS
.contact {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
  }
}

// feet SASS
.footer {
  .container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
  }
}
